// _layout.scss

.container {
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2,
h3 {
  text-align: center;
}

form {
  margin-bottom: 20px;
}

input,
button {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: $primary-color;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: $secondary-color;
  }
}

#image-selection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-top: 20px;
}
